body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.chat-body {
    padding: 20px;
}

.messages {
    padding: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.message:last-child {
    border-bottom: none;
}

.message .username {
    font-weight: bold;
    color: #00698f;
}

.message .message-text {
    color: #333;
}

#chat-form {
    margin-top: 20px;
}

#message-input {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#send-btn {
    width: 23%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #3e8e41;
}